<!DOCTYPE html>
<html>
    <head>
        <title>Message form | foamapp.go</title>
    </head>
    <body>
        <form action="/check" method="POST">
            <label for="message">メッセージ</label></br>
            <textarea  name="message">{{ .Message }}</textarea>
            <input type="hidden" name="name" value="{{ .Name }}">
            <input type="hidden" name="birthday" value="{{ .Birthday }}"></br>
            <input type="submit" value="next">
        </form>
        <form action="/birthday" method="POST">
            <input type="hidden" name="name" value="{{ .Name }}">
            <input type="hidden" name="birthday" value="{{ .Birthday }}">
            <input type="hidden" name="message" value="{{ .Message }}">
            <input type="submit" value="back">
        </form>
    </body>
</html>
